:root {
    --black: #222222;
}

body {
    background: var(--black);
    color: white;
}

h1 {
    --black: blue;
    color: var(--black);
}

@media(max-width: 800px) {
    :root {
     --black: red;

    }
}