@import url('https://fonts.googleapis.com/css?family=Space+Mono:400|Work+Sans:400');

:root {
    /*Define colours as colours*/
    --black: #1b2d25;
    --green: #00ebc7;
    --red: #ff5470;
    --yellow: #fde24f;
    --darkBlue: #00214d;
    --grey: #bfbfbf;
    --lightGrey:#f2f4fb;

    /* Define the colour intentions */
    --primary: var(--green);
    --danger: var(--red);
    --background: var(--lightGrey);
    --textColour: var(--black);
    --lineColour: var(--grey);


    /* Type */
    --headingFont: 'Space Mono', monospace;
    --bodyFont: 'Work Sans', sans-serif;
    --h1: 3.052em;
    --h2: 2.441em;
    --h3: 1.953em;
    --h4: 1.563em;
    --h5: 1.25em;
    --smallText: 0.8em;

     /* Styles */
     --line: solid 1px var(--lineColour);

    /* Elevation*/

    --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.05);
    --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.04);
}

body {
    background: var(--background);
    color:var(--textColour);
}

.dark {
    --background: var(--black);
    --textColour: var(--lightGrey);

}


/* FROM Typescale */


html {font-size: 112.5%;} /*18px*/

body {
  background-color: white;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  padding-block-end: 100px;
}

p {
    margin-bottom: 1.15rem;
    max-width: 40rem;

}

p a, blockquote a {
    color: var(--black);
    text-decoration: none;
    border-bottom: 2px solid var(--primary);
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {font-size: var(--h2); }

h3 {font-size: var(--h3);}

h4 {font-size: var(--h4);}

h5 {font-size: var(--h5);}

small, .text_small {font-size: var(--smallText) ;}

blockquote {
    border: 1px solid var(--darkBlue);
    margin: 0;
    padding: 2em;
    background: white;
    box-shadow: var(--level-3);
}

label {
  display: block;
  font-size: var(--smallText);
}

input, textarea {
  border: var(--line);
  border-radius: 4px;
  padding: 2px 5px;
}


::placeholder {
  color: var(--grey);
} 
  
select {
  border: var(--line);
}


textarea {
  width: 100%;
  height: 5rem;
}

hr {
  border-top: var(--line);
}

button {
  --buttonColour:var(--primary);

  appearance: none;
  color: var(--textColour);
  background-color: var(--buttonColour);
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  box-shadow: var(--level-1);
  transition: 0.3s ease-in-out box-shadow;
}

button:hover {
  box-shadow: var(--level-2);
}

button:disabled {
  opacity: 0.4;
}



button.cancel {
  --buttonColour: var(--danger);
  --textColour: #fff;
}

button.small {
  font-size: var(--smallText);

}

.layout {
  margin: 0 auto;
  width: 95%;
}


.grid {
  --gridCols:2;
  display: grid;
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

.cols-3 {
  --gridCols: 3;
}

.cols-4 {
  --gridCols: 4;
}

.flex {
  --justifyContent: space-between;
  display: flex;
  justify-content: var(--justifyContent);
}

.flex-around {
  --justifyContent: space-around;
}